.board{
    height: 400px;
    width: 500px;
    /* background-color:; */
    position: absolute;
    left: 350px;
    top: 50px;
    align-items: center;
    opacity: 0.8;
    
}
.form-data{
    padding: 30px;
    margin: 20px;
    align-items: center;
    border:solid 1px beige ;
}
.form-data  input{
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
}
label{
    margin: 5px;
    padding: 8px;
}